src/Wse3Transports/Client/bin/
src/Wse3Transports/Client/obj/
src/Wse3Transports/Server/bin/
src/Wse3Transports/Server/obj/
src/Wse3Transports/WseTransports/bin/
src/Wse3Transports/WseTransports/obj/
src/Uploader/Uploader/bin/
src/Uploader/TestUploader/bin/Debug/
src/Uploader/TestUploader/bin/Release/
src/Uploader/TestUploader/obj/
src/Uploader/Uploader/TransientStorage/
src/Uploader/cardocr/bin
src/Uploader/cardocr/obj
src/Uploader/Uploader/obj/
src/Uploader/Uploader/bin/Uploader.dll
src/Uploader/Uploader/bin/Uploader.pdb
src/Uploader/Uploader/Uploader-2010.Publish.xml
src/Uploader/Uploader/Web.Debug.config
src/Uploader/Uploader/Web.Release.config
src/Uploader/WebserviceFileSystem/bin/
src/Uploader/WebserviceFileSystem/obj/
src/Uploader/FileSystem/bin/
src/Uploader/FileSystem/obj/
src/Uploader/LocalFileSystem/bin/
src/Uploader/LocalFileSystem/obj/
src/Uploader/wsfileconsole/obj/
src/Uploader/wsfileconsole/bin/
src/Uploader/Uploader-2010.suo
src/Uploader/Uploader.suo
src/WebServiceSendsEvents/WebService/bin/
src/WebServiceSendsEvents/WebService/obj/
src/WebServiceSendsEvents/WebServiceWindowsClient/bin/
src/WebServiceSendsEvents/WebServiceWindowsClient/obj/
src/sina/api/AMicroBlogAPI/bin/
src/sina/api/AMicroBlogAPI/obj/
src/sina/api/AMicroBlogAPITest/bin/
src/sina/api/AMicroBlogAPITest/obj/
src/sina/api/AMicroBlogClient/bin/
src/sina/api/AMicroBlogClient/obj/
src/sina/api/Tool/APIMappingGenerator/bin/
src/sina/api/Tool/APIMappingGenerator/obj/
src/sina/api/Tool/AsyncGen/AsyncGen.pdb
src/sina/api/Tool/AsyncMethodGenerator/bin/
src/sina/api/Tool/AsyncMethodGenerator/obj/
src/sina/api/Tool/MappingGen/APIMappingGenerator.pdb
src/sina/api/AMicroblogAPIDemo-Web/Bin/
src/sina/api/Tool/AsyncGen/AsyncGen.exe
src/sina/api/Tool/MappingGen/APIMappingGenerator.exe
src/cardocr/cardocr-ppc2003/bin/
src/cardocr/cardocr-ppc2003/obj/
src/cardocr/cardocr-mobile6/bin/
src/cardocr/cardocr-mobile6/obj/
src/cardocr/cardocr-cab/Debug/
src/cardocr/cardocr-cab/Release/
*.ncb
*.suo
*.fbl4
*.fbw
*.user