src/Wse3Transports/Client/bin/
src/Wse3Transports/Client/obj/
src/Wse3Transports/Server/bin/
src/Wse3Transports/Server/obj/
src/Wse3Transports/WseTransports/bin/
src/Wse3Transports/WseTransports/obj/
src/Uploader/Uploader/bin/
src/Uploader/TestUploader/bin/Debug
src/Uploader/TestUploader/bin/Release
src/Uploader/TestUploader/obj
src/Uploader/Uploader/TransientStorage
src/Uploader/Uploader/obj/
src/Uploader/Uploader/bin/Uploader.dll
src/Uploader/Uploader/bin/Uploader.pdb
src/Uploader/Uploader/Uploader-2010.Publish.xml
src/Uploader/Uploader/Web.Debug.config
src/Uploader/Uploader/Web.Release.config
src/Uploader/WebserviceFileSystem/bin/
src/Uploader/WebserviceFileSystem/obj/
*.ncb
*.suo
*.fbl4
*.fbw
*.user