<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
    <!--Changes below appKey and appSecret to yours-->
		<add key="appKey" value="829879253"/>
    <add key="appSecret" value="7dc23e7a395845fbee569837bcb2bc84"/>
    <add key="callbackUrl" value="http://localhost:30632/AMicroblogAPIDemo-Web/AuthorizeCallback.aspx"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
