<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </configSections>

    <microsoft.web.services3>
        <messaging>
            <transports>
                <add scheme="soap.udp" type="WseTransports.Udp.SoapUdpTransport, WseTransports">
                    <reuseAddress enabled="true" />
                </add>
                <add scheme="soap.smtp" type="WseTransports.Smtp.SoapSmtpTransport, WseTransports">
                    <mailServer value="mail.simpleflow.local" />
                    <mailServerPassword value="Svc_2003" />
                    <smtpServer value="mail.simpleflow.local" />
                    <retrySeconds value="30" />
                </add>
                <add scheme="soap.sql" type="WseTransports.Sql.SoapSqlTransport, WseTransports">
                    <connectionString value="Server={0};User ID=sa;Pwd=Toshiba;Database=SoapMessageBox" />
                </add>
            </transports>
        </messaging>
    </microsoft.web.services3>
</configuration>