<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="amicroblogAPI" type="AMicroblogAPI.Common.AMicroblogAPIConfigurationSection, AMicroblogAPI"/>
  </configSections>
  <amicroblogAPI>
    <responseErrorHandling enabled="true">
      <!--Handles all 400 type error-->
      <!--<handler type="handlerClass, handlerAssembly" errorCode="^400"/>-->
      <!--Handles all all errors-->
      <!--<handler type="MyHandlerClass, MyHandlerAssembly" errorCode="*"/>-->
    </responseErrorHandling>
  </amicroblogAPI>
  <appSettings>
    <add key="appKey" value="872044423" />
    <add key="appSecret" value="f28c78eba4d2e2021357d0ca68dbfc35" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>